<div class="container">
  <p-button (click)="showDialog()" class="p-button-raised p-button-rounded float-right" icon="pi pi-external-link"
    label="Create Time Slot"></p-button>
  <br />
  <br />
  <div class="row mar-top-15">
    <div class="col-lg-12">
      <!-- <p-tabView>
        <p-tabPanel header="Time Slots"> -->
          <app-timeslots-container [upgradeId]="upgradeId"></app-timeslots-container>
        <!-- </p-tabPanel>
      </p-tabView> -->
    </div>
  </div>
  <app-save-timeslots #createTimeSlot></app-save-timeslots>
</div>
