.day {
  /* flex: 1 0 51%;  */
  margin: 5px;
  height: 70px;
  width: 230px;
  background-color: #e2e2e2;
  border-width: 2px;
  border-style: solid;
  border-color: #08081b;
}

.disableBox {
  /* pointer-events: none; */
  cursor: not-allowed !important;
}

#deleteButton {
  position: relative;
  float: right;
  top: -11px;
  right: 2px;
}

.slot {
  flex-grow: 1;
  width: 90%;
  height: 35px;
  background-color: gray;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin: 4px;
  transition-duration: 0.4s;
  border-radius: 10px;
}

.slot:hover {
  background-color: #4f9751;
  cursor: pointer;

  position: relative;
  right: 2px;
  top: 2px;
}

h3 {
  margin-left: 5px;
  margin-top: 15px;
  font-weight: 300;
  font-weight: bold;
  text-align: center;
}

.box {
  cursor: pointer;
}

.appointments {
  padding-left: 12px;
  padding-right: 10px;
  line-height: 35px;
  font-size: 18px;
}

.appointment-box {
  background: #e2e2e2;
  border-bottom: 2px solid black;
}
