<div [ngClass]="setClasses()" [class.disableBox]="appointment.appointments.length == 0" class="box"
  (click)="showAppointments = !showAppointments">
  <div>
    <button id="deleteButton">X</button>
    <h3 class="date">{{appointment.date | date: 'dd/MM/yyyy'}}</h3>
    <!-- <h3>{{appointment.hour}}</h3> -->

    <!-- <h3>Varighet: {{appointment.duration}} min </h3> -->
    <!-- <button class="slot booked"><span class="book-span">Book</span></button> -->
  </div>
</div>
<div class="appointments">
  <ng-template [ngIf]="showAppointments && appointment.appointments.length >0">
    <div *ngFor="let item of appointment.appointments" class="appointment-box">
      <label for="radio1">{{item.startTime}} - {{item.endTime}}</label>
      <input type="radio" (change)="change($event)" [id]="'appointment'" [name]="'appointment'" [value]="item.id">
    </div>
    <button (click)="saveBooking()" class="slot booked"><span class="book-span">Book</span></button>
  </ng-template>

</div>
