<div [ngClass]="setClasses()" [class.disableBox]="!day.appointments">
  <div (click)="showAppointments = !showAppointments" class="box">
    <button class="box" (click)="DeleteAppointmentDays()" id="deleteButton">X</button>
    <h3 class="date">{{day.date | date: 'dd/MM/yyyy'}}</h3>
  </div>
  <div class="appointments">
    <ng-template [ngIf]="showAppointments && day.appointments">
      <div *ngFor="let item of day.appointments; let i = index" class="appointment-box">
        <label for="radio1">{{item.startTime.hours+ ':'+ 0 + item.startTime.minutes + get12HourTime(item.startTime.hours)}}
          - {{item.endTime.hours + ':'+ 0 +
          item.endTime.minutes + get12HourTime(item.startTime.hours)}}</label>
        <input type="radio" (change)="selectedTime(item.startTime)" class="select-appointment" [id]="'appointment'"
          [name]="'appointment'">
      </div>
      <button (click)="saveBooking(day.date)" class="slot booked"><span class="book-span">Book</span></button>
    </ng-template>
  </div>
  <!-- (change)="change($event)"  -->
  <!-- (click)="saveBooking()" -->

  <!-- <div [ngClass]="setClasses()">
  <div>
    <button id="deleteButton">X</button>
    <h3 class="date">{{day.startDate | date: 'dd/MM/yyyy'}}</h3>

    <input type="radio" id="radio1" name="radios" value="all" checked>
    <label for="radio1">14:00 - 17:00</label>
    <input type="radio" id="radio2" name="radios" value="false">
    <label for="radio2">17:00 - 20:00</label>
    <input type="radio" id="radio3" name="radios" value="true">
    <label for="radio3">20:00 - 23:00</label>

    <h3>Varighet: min </h3>
    <button class="slot booked"><span class="book-span">Book</span></button>
  </div>
</div> -->
