<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <label id="upgradeText" for="upgrade-Version">Select Upgrade: </label>
      <select [(ngModel)]="upgradeId" name="upgrade-Version" id="upgrade-Version">
        <option [value]="undefined" selected> Select version</option>
        <option *ngFor="let item of upgrades" [value]="item.id">{{item.version}}</option>
      </select>
      <button id="releaseNoteDown" style="float: right;" (click)="downloadFile()"> Download realease note</button>
    </div>
    <br />
    <div class="col-lg-12">

        <p-tabView>
          <p-tabPanel header="Time Slots" [headerStyle]="{'padding': '1em', 'color':'white', 'background-color':'#7e8b8b'}">
            <app-timeslots-container [upgradeId]="upgradeId"></app-timeslots-container>
          </p-tabPanel>
          <p-tabPanel header="Customer Invites" [headerStyle]="{'padding': '1em',  'color':'white', 'background-color':'#232f41'}">
            <app-customers [upgradeId]="upgradeId"></app-customers>
          </p-tabPanel>
        </p-tabView>


    </div>
  </div>
</div>
