<!-- <div class="calender">
  <br>
  <button [disabled]="!upgradeId" id="releaseNoteDown" (click)="save()"> Save</button>
  <br />
  <div style="margin-top: 40px;" class="customer" [ngClass]="{'selectedBox': item.isSelected, 'disablebox': item.gotAppointment}"
    *ngFor="let item of items; let i = index;" (click)="item.isSelected = !item.isSelected">
    <div class="box">
      <h3 class="date">{{item.name}}</h3>
    </div>
  </div>
  <br>
</div> -->
<div class="calender">
<button style="margin-top: 5px; float: right" (click)="save()">Send invite to selected</button>

<label style="color: aliceblue;" for="id">Transfer selected to: </label>
<select [(ngModel)]="upgradeId" name="upgrade-Version" id="upgrade-Version">
  <option [value]="undefined" selected> Select version</option>
  <option *ngFor="let item of upgrades" [value]="item.id">{{item.version}}</option>
</select>
<button style="margin-top: 5px;" (click)="save()">Transfer</button>
<div class="">
<ag-grid-angular style="width: 100%; height: 800px;" class="ag-theme-alpine" [rowData]="rowData"
  [columnDefs]="columnDefs"
  [rowSelection]="rowSelection"
  [rowMultiSelectWithClick]="true"
  [isRowSelectable]="true"
  (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)">
</ag-grid-angular>
</div>
</div>
