<!-- <div class="wrapper">
  <div class="header">
    <button [disabled]="!upgradeId" id="releaseNoteDown" (click)="save()"> Save</button>
    <br>

  </div>
</div> -->

<div class="calender">
  <button [disabled]="!upgradeId" id="releaseNoteDown" (click)="save()"> Save</button>
  <br />
  <div style="margin-top: 40px;" class="day" [ngClass]="item.isSelected? 'selectedBox': ''" *ngFor="let item of items;"
    (click)="item.isSelected = !item.isSelected">
    <div class="box">
      <h3 class="date">{{item.name}}</h3>
    </div>
  </div>
</div>
