

.header {
  /* height: 80px; */
}

#header-title {
  text-align: center;
  margin: 6px;
  padding: 5px;
  color: whitesmoke;
  /* border-bottom: solid whitesmoke; */
}

#upgradeSelector {
  position: relative;
  top: 45px;
  left: 15px;
  font-size: 20px;
  color: whitesmoke;
}

body{
  background: radial-gradient(rgb(122, 122, 122), rgb(32, 32, 32) ) !important;
}
